<form class="ui form" [formGroup]="form" (ngSubmit)="onRegister()">
  <div class="field">
    <div class="ui left icon input">
      <input type="text" formControlName="name" placeholder="სახელი">
      <i class="address card icon"></i>
    </div>
    <ng-container *ngIf="get('name').invalid && get('name').touched">
      <p class="error" *ngFor="let error of errors('name')">{{ error }}</p>
    </ng-container>
  </div>
  <div class="field">
    <div class="ui left icon input">
      <input type="text" formControlName="username" placeholder="მომხმარებლის სახელი"/>
      <i class="user icon"></i>
    </div>
    <ng-container *ngIf="get('username').invalid && get('username').touched">
      <p class="error" *ngFor="let error of errors('username')">{{ error }}</p>
    </ng-container>
  </div>
  <div class="field">
    <div class="ui left icon input">
      <input type="password" formControlName="password" placeholder="პაროლი">
      <i class="lock icon"></i>
    </div>
    <ng-container *ngIf="get('password').invalid && get('password').touched">
      <p class="error" *ngFor="let error of errors('password')">{{ error }}</p>
    </ng-container>
  </div>
  <div class="field">
    <div class="ui left icon input">
      <input type="password" formControlName="confirmPassword" placeholder="განმეორებითი პაროლი">
      <i class="lock icon"></i>
    </div>
    <ng-container *ngIf="get('confirmPassword').invalid && get('confirmPassword').touched">
      <p class="error" *ngFor="let error of errors('confirmPassword')">{{ error }}</p>
    </ng-container>
    <ng-container *ngIf="get('confirmPassword').touched && get('password').touched">
      <p class="error" *ngFor="let error of formErrors()">{{ error }}</p>
    </ng-container>
  </div>
  <button class="ui orange button" type="submit">რეგისტრაცია</button>
  <a class="ui basic orange button" type="button" routerLink="/auth">შესვლა</a>
</form>
<div class="ui error message" *ngIf="error">
  <i class="close icon" (click)="error = undefined"></i>
  <div class="header">Error</div>
  {{ error }}
</div>
<ng-template bgPlaceholder></ng-template>
