<form class="ui form" [formGroup]="form" (ngSubmit)="onCreateAccount()">
  <div class="ui segment"><h1>ანგარიშის შექმნა</h1></div>
  <div class="ui segment">
    <div class="field">
      <label>ანგარიშის სახელი</label>
      <input type="text" formControlName="accountName">
      <ng-container *ngIf="get('accountName').invalid && get('accountName').touched">
        <p class="error" *ngFor="let error of errors('accountName')">{{ error }}</p>
      </ng-container>
    </div>
    <div class="field">
      <label>თანხა</label>
      <input type="number" formControlName="amount" min="0">
      <ng-container *ngIf="get('amount').invalid && get('amount').touched">
        <p class="error" *ngFor="let error of errors('amount')">{{ error }}</p>
      </ng-container>
    </div>
  </div>
  <button class="ui orange button" type="submit">შენახვა</button>
</form>

